h1 {
    color: darkslateblue;
}

body {

    background-color: #EDDDD0;
}

.design{
    background-color: lightblue;
    font-family: "Montserrat", sans-serif;
    text-align: center;

}

.Topword {
    background-color: lightblue;
    text-align: center;
    font-size: 50px;
}